name: CI/CD Microservices Local

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build & Run all services
        run: |
          docker compose down --remove-orphans
          docker compose build
          docker compose up -d

      - name: List running containers
        run: docker ps
